PORT=3001
BASE_URL=http://localhost:3001

DEFAULT_TOP_WORDS_LIMIT=10
MAX_TOP_WORDS_LIMIT=50

DEFAULT_LINKS_LIMIT=50
MAX_LINKS_LIMIT=200

SCREENSHOTS_DIR=./screenshots
LOGS_DIR=./logs
LOG_FILE_NAME=registro_bunker.txt

PUPPETEER_HEADLESS=true
